<header>
    <h1>Sam Bastola's Slim Badger ~ ITIS 3135</h1>
  
    <nav>
      <a href="index.html">Home</a> |
      <a href="survey.html">Survey</a> |
      <a href="gallery.html">Gallery</a> |
      <a href="inventory.html">Inventory</a> |
      <a href="instructions.html">Instructions</a> |
      <a href="highlight.html">Highlight</a>
    </nav>
  
    <nav>
      <a href="contract.html">Contract</a> |
      <a href="website_evaluations.html">Website Evaluations</a> |
      <a href="stuff/">CRAPpy</a>
    </nav>
  </header>
  